body{
    background: rgb(209,238,241) !important;
    
    
}
header {
    
    background-color: rgb(85,209,219);
    
    margin-top: 10%;
    margin-left: 5%;
    margin-right: 60%;
    padding: 10px;
    box-shadow: -10px 10px rgb(209,238,241);
    
}

.bookingBox{
    margin: 10%;
    padding: 10px;
    background-color: rgb(75, 187, 195);
    color:white;
    border-radius: 5px;
    
}

.bookTitle{
    
    margin-left: 15%;
}
#root{
    margin: 0;
    
    padding:0;
}

.mainBox{
    background-color: rgb(255, 255, 255);
    margin:0 5%;
    padding: 0;
    color: white;
    box-shadow: -10px 10px grey;

}
p1{
    font-size:larger;
}
